body {
    font:  var(--bs-font-sans-serif);
  }

.header {
    font-family: 'Lato', sans-serif;
}

.one {
    background-color: rgb(241, 239, 239);
}

.three .btn, .one .btn, .four .btn {
    background-color: rgb(235, 131, 57);
    color: white;
    font-weight: 500;
}

.one img, .three img {
    border-radius: 10px;
}

.section-two .p {
    font-size: 20px;
    font-weight: 500;
    color: #4ba11e;
    opacity: 50%;
}

.link-dark:hover {
    background-color: #4ba11e;
    border-radius: 10px;
    transition: all 0.3s;
}

.back {
    background: url(img/2397-x700.jpg);
    min-height: 500px;
    background-position: center;
    border-radius: 10px;
    background-size: 100%;

    
}

.back-row {
    padding: 150px  180px;
}






