body {
    font-family: 'Lato', sans-serif;
  }

  :root {
    --color1: rgb(245, 126, 41);
    --color2: #4ba11e;
  }

.header {
    font-family: 'Lato', sans-serif;
}

.one {
    background-color: rgb(241, 239, 239);
}

.three .btn, .one .btn, .four .btn {
    background-color: var(--color1);
    color: white;
    font-weight: 500;
    border-radius: 20px;
}

.one img, .three img {
    border-radius: 10px;
}

.section-two .p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color2);
    opacity: 50%;
}

.link-dark:hover {
    background-color: var(--color2);
    border-radius: 10px;
    transition: all 0.3s;
}

.back {
    background: url(img/2397-x700.jpg);
    max-height: 500px;
    background-position: center;
    border-radius: 10px;
    background-size: 100%;

    
}

.back-row {
    padding: 100px  180px;
}

.card-img-top{
    width: 50px;
    height: auto;
    color: #fff;
    background-color: #fff;

}

.card {
    background-color: var(--color1);
}

.five .btn {
    color: var(--color1);
    font-weight: 600;
}




