body {
    font-family: 'Lato', sans-serif;
  }

  :root {
    --color1: rgb(245, 126, 41);
    --color2: #4ba11e;
    --color3: rgb(241, 239, 239);
  }

  section {
    margin-bottom: 100px;
  }

.header {
    font-family: 'Lato', sans-serif;
}

.one {
    background-color: var(--color3);
}

.three .btn, .one .btn, .four .btn {
    background-color: var(--color1);
    color: white;
    font-weight: 500;

}

.three .btn, .four .btn, .five .btn {
    border-radius: 30px;
    padding: 10px 20px;
}

.one img, .three img {
    border-radius: 10px;
}

.section-two .p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color2);
    opacity: 50%;
}

.link-dark:hover {
    background-color: var(--color2);
    border-radius: 10px;
    transition: all 0.3s;
}

.back {
    background: url(img/2397-x700.jpg);
    max-height: 500px;
    background-position: center;
    border-radius: 10px;
    background-size: 100%;

    
}

.back-row {
    padding: 100px  180px;
}

.section-five .card-img-top{
    width: 70px;
    height: auto;
    color: #fff;
    background-color: #fff;

}

.card-one {
    background-color: var(--color1);
}

.five .btn {
    color: var(--color1);
    font-weight: 600;
    
}

.five {
    background-color: var(--color3);
}

.bi-android2,  .bi-boxes{
    background-color: rgb(73, 73, 73);
    padding: 10px;
    border-radius: 50px;
}

.bi-bar-chart-line, .bi-coin {
    background-color: var(--color3);
    padding: 10px;
    border-radius: 50px;
}

.h-seven, .p-seven {
    padding-right: 30px;
    margin-right: 30px;
}

.section-seven .card-img-top {
    height: 250px;
    
}

.section-seven a {
 text-decoration: none;
}

.section-seven a:hover {
    /* background-color: var(--color3); */
    /* padding: 5px 10px; */
    /* border-radius: 20px; */
    font-weight: 600;
    text-decoration: underline;
   }

.orange a {
    color: var(--color1);
}


.green a {
    color: var(--color2);
}




